.main-beta-testers {
  h1 {
    font-size: 40px;
  }
}

.beta-hero-area {
  display: grid;
  min-height: 92vh;
  color: var(--red);
  grid-template-columns: 1fr 1fr;
  background-color: var(--light-background);
  .hero-left {
    padding-left: 50px;
    padding-bottom: 50px;
    .hero-text-area {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      img {
        margin-bottom: 8px;
      }
      .main-heading {
        margin-bottom: 40px;
        @media screen and (min-width: 500px) {
          font-size: 45px;
        }
      }
      .thank-you-text {
        margin-bottom: 8px;
        letter-spacing: var(--second-letter-spacing);
      }
      .hero-description {
        font-weight: 300;
        max-width: 330px;
        margin-bottom: 30px;
        letter-spacing: var(--second-letter-spacing);
      }
      .hero-total {
        display: flex;
        align-items: baseline;
        h1 {
        }
        p {
          letter-spacing: var(--second-letter-spacing);
        }
      }
    }
  }
  .hero-right {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/images/beta-testers/hero-full-image.png');
    img {
      display: block;
      max-width: 100%;
      right: -20px;
      max-height: 500px;
      position: relative;
    }
  }
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .hero-left {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .hero-right {
      flex: 1;
    }
  }
}

.meantime {
  padding: 80px;
  color: var(--red);
  min-height: 100vh;
  background-color: var(--light-background);
  .main-heading {
    margin-bottom: 12px;
  }
  .sub-heading {
    margin-bottom: 12px;
    letter-spacing: var(--second-letter-spacing);
  }
  .main-text {
    font-weight: 300;
    max-width: 500px;
    margin-bottom: 40px;
    letter-spacing: var(--second-letter-spacing);
  }
  .meantime-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .meantime-image-phone {
    flex: 1;
    max-width: 300px;
    height: auto;
  }
  @media screen and (max-width: 800px) {
    .meantime-image-phone-third {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 80px;
    .meantime-text-wrapper {
      padding-left: 30px;
      padding-right: 30px;
    }
    .meantime-image-phone {
      max-width: 150px;
    }
  }
}

.footer {
  padding: 50px;
  color: var(--red);
  background-color: var(--light-background);
  .footer-logo {
    margin-bottom: 14px;
  }
  .footer-divide {
    display: flex;
    gap: 50px;
    .footer-left {
      flex: 1;
      .footer-company-name {
        margin-bottom: 16px;
      }
      .footer-declaration {
        margin-bottom: 16px;
      }
    }
    .footer-right {
      flex: 1;
      .footer-social-media {
        justify-content: left;
        margin-bottom: 16px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    padding: 30px;
    text-align: center;
    .footer-divide {
      flex-direction: column;
      .footer-right {
        .footer-social-media {
          justify-content: center;
        }
      }
    }
  }
}

.product-description {
  display: flex;
  gap: 50px;
  min-height: 100vh;
  align-items: center;
  color: var(--white-base);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/beta-testers/map-pattern.png');
  background-color: var(--dark-background);
  .product-image-left {
    display: flex;
    visibility: hidden;
    align-items: flex-end;
    img {
      display: block;
      max-width: 100%;
      left: -20px;
      bottom: 80px;
      position: relative;
    }
  }
  .product-middle-section {
    flex: 1;
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: 500px;
    h1 {
      text-align: center;
      margin-bottom: 16px;
    }
    .product-middle-section-sub-heading {
      text-align: center;
      margin-bottom: 24px;
    }
    .product-middle-section-customer {
      font-weight: 300;
      text-align: center;
      margin-bottom: 24px;
    }
    .product-middle-section-paragraph-1 {
      font-weight: 300;
      margin-bottom: 20px;
    }
    .product-middle-section-paragraph-2 {
      font-weight: 300;
      margin-bottom: 20px;
    }
    .product-middle-section-paragraph-3 {
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  .product-image-right {
    visibility: hidden;
    img {
      top: 80px;
      height: auto;
      display: block;
      max-width: 100%;
      right: -20px;
      position: relative;
    }
  }
  @media screen and (max-width: 1100px) {
    .product-image-left {
      display: none;
      justify-content: flex-end;
      img {
        display: block;
        left: 20px;
        top: 50px;
        max-width: 500px;
      }
    }
    .product-middle-section {
      min-width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    .product-image-right {
      display: none;
      img {
        right: 20px;
        top: -50px;
        max-width: 500px;
      }
    }
  }
}

.timeline {
  color: var(--light-background);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/images/beta-testers/map-pattern.png');
  letter-spacing: var(--second-letter-spacing);
  background-color: var(--dark-background);
  .timeline-text-wrapper {
    text-align: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    .timeline-light {
      font-weight: 300;
      color: var(--light-background);
      margin-bottom: 16px;
    }
    .timeline-point-1 {
      font-weight: 300;
      margin-bottom: 16px;
    }
    .timeline-point-2 {
      font-weight: 300;
      margin-bottom: 16px;
    }
  }
  @media screen and (max-width: 850px) {
    .website-timeline-wrapper {
      display: flex;
      height: 1000px;
      padding-top: 100px;
      padding-bottom: 0px;
      align-items: center;
      justify-content: center;
      .website-timeline {
        width: 850px;
        padding-top: 0;
        padding-bottom: 0;
        transform: rotate(90deg);
        & > div {
          width: 850px;
        }
        .line {
          width: 100%;
        }
        .timeline-wrapper {
          width: 850px;
          .dot-wrapper {
            .text {
              transform: translate(-50%) rotate(-90deg);
            }
            .arrow-icon {
              transform: rotate(-90deg);
            }
            .text.above {
              text-align: left;
              margin-bottom: 66px;
              bottom: 15px;
            }
            .text.below {
              text-align: right;
              margin-top: 33px;
              top: 70px;
            }
          }
          .dot-wrapper:nth-child(1) .text.above {
            bottom: 28px;
          }
          .dot-wrapper:nth-child(2) .text.below {
            top: 37px;
          }
          .dot-wrapper:nth-child(3) .text.above {
            bottom: 13px;
          }
          .dot-wrapper:nth-child(4) .text.below {
            top: 50px;
            width: 111px !important;
            h6 {
              display: block;
            }
            .phase-four-desktop {
              display: none;
            }
            .phase-four-mobile {
              display: block;
            }
          }
          .dot-wrapper:nth-child(5) .text.above {
            bottom: 13px;
          }
          .dot-wrapper:nth-child(6) .text.below {
            top: 47px;
          }
          .dot-wrapper:nth-child(7) .text.above {
            bottom: 12px;
          }
          .dot-wrapper:nth-child(8) .text.below {
            top: 47px;
          }
        }
      }
    }
  }
}
