.social-media {
  display: flex;
  margin-top: 24px;
  align-items: center;
  padding-right: 30px;
  gap: 10px; // Adjust spacing between icons
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.8;
  }

  .iconContainer {
    width: 30px; // Adjust size as needed
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    border-radius: 50%;
    width: 70%; // Icon size relative to container
    height: 70%;
  }
}
