:root {
  --red: #a83a32;
  --red-hover: #bc4138;
  --light-background: #efede1;
  --white-base: #ffffff;
  --gray: #909090;
}

body {
  letter-spacing: 0.5px;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: var(--font-roca), serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
