:root {
  --red: #a83a32;
  --red-hover: #bc4138;
  --light-green: #7a7752;
  --light-background: #efede1;
  --dark-background: #262412;
  --white-base: #ffffff;
  --black-base: #000000;
  --gray: #909090;
}

body {
  background-color: #000;
  letter-spacing: 0.5px;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: var(--font-roca), serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed !important;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.recaptcha {
  font-size: 12px;
  text-align: left;
  letter-spacing: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.grecaptcha-badge {
  display: none !important;
}
