:root {
  --red: #a83a32;
  --red-hover: #bc4138;
  --light-green: #d0f29b;
  --light-background: #efede1;
  --dark-background: #262412;
  --white-base: #ffffff;
  --cream-base: #f0efea;
  --black-base: #000000;
  --turquoise: #d0f29b;
  --gray: #909090;
  --second-letter-spacing: 1px;
  --main-background: #101010;
}

body {
  letter-spacing: 0.5px;
  color: var(--white-base);
  background-color: var(--main-background);
  font-family: var(--font-goga), Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: var(--font-goga), serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed !important;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.recaptcha {
  font-size: 12px;
  text-align: left;
  letter-spacing: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

.grecaptcha-badge {
  display: none !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
