.main-wrapper {
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3.4rem;
    color: var(--turquoise);
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 10px 0;
    margin: 0 30px;
    border-bottom: 2px solid var(--white-base);
    .coming-soon {
      margin-top: 4px;
    }
  }
  .text-wrapper {
    flex: 1;
    margin-top: -31px;
    display: flex;
    padding: 30px;
    margin-left: 28px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
