.hero {
  height: 100svh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;

  .videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    object-fit: cover;
    z-index: -1;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .comingSoon {
    font-size: 20px;
    text-align: center;
  }
  .middleSection {
    display: flex;
    height: 100%;
  }
  .leftSideSection {
    flex: 1;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightSideSection {
    flex: 1;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 200;
    }
    .textContainer {
      max-width: 400px;
    }
  }
  @media screen and (max-width: 700px) {
    .middleSection {
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .leftSideSection {
      flex: 0;
    }
    .rightSideSection {
      flex: 0;
      align-items: center;
      padding: 24px;
      p {
        font-weight: 300;
        text-align: center;
      }
    }
  }
}